<!doctype html>
<html>
	<head>

            <title>All About Tiger</title>
            <link rel="stylesheet" href="Temp.css" type="text/css"/>
            
	</head>
	<body>
		<div class="container">

		<!-- Header Starts -->
                <div class="logo"></div>
                <div class="logout"></div>
                <div class="clean"></div>
		<!-- Header Ends -->

			
		<!-- Navigation Starts -->
                <div class="nav"></div>
		<!-- Navigation Ends -->

			
		<!-- Banner Starts -->
                <div class="banner"></div>
		<!-- Banner Ends -->

			
		<!-- Welcome Content Starts -->
                <div class="welcome"></div>
                <div class="gallary"></div>
                <div class="clean"></div>
		<!-- Welcome Content Ends -->

			
		<!-- Gallery Starts -->
                <div class="feature1"></div>
                <div class="feature2"></div>
                <div class="feature3"></div>
                <div class="feature4"></div>
                <div class="clean"></div>
              
		<!-- Gallery Ends -->

			
		<!-- Bottom Starts -->
                <div class="address"></div>
                <div class="footer-link"></div>
		<!-- Bottom Ends -->

		</div>
	</body>
</html>