
body{
	background: #000;
}
.container{
	width: 960px;
	margin: auto;
	background: #bd2309;
	min-height: 1000px;
	padding: 20px;
}
.logo{
        width: 165px;
        height: 50px;
        background-color: yellowgreen;
        float: right;
}


.logout {
            width: 165px;
            height: 50px;
            background-color: yellowgreen;
            float: left;
}
.clean{
        clear: both;
}

.nav {
           
            height: 59px;
            background: greenyellow;
            margin-top: 20px;
}
.banner {
           
            height: 300px;
            background: greenyellow;
            margin-top: 25px;
}

.welcome {
            width: 700px;
            height: 150px;
            background: yellowgreen;
            margin-top: 25px;
            float: left;
}

.gallary {
            width: 218px;
            height: 150px;
            background: yellowgreen;
            float: right;
            margin-top: 25px;
}

.clean {
            clear: both;
}

.feature1 {
            width: 235px;
            height: 150px;
            background: yellowgreen;
            float: left;
            margin-top: 25px;
}

.feature2 {
            width: 235px;
            height: 150px;
            background: yellowgreen;
            float: left;
            margin-left: 5px;
            margin-top: 25px;
}

.feature3 { 
            width: 235px;
            height: 150px;
            background:yellowgreen;
            float: left;
            margin-left: 5px;
            margin-top: 25px;
}

.feature4 {
            width: 235px;
            height: 150px;
            background: yellowgreen;
            float: right;
            margin-left: 5px;
            margin-top: 25px;
}
.clean {
        clear: both;
}

.address {
            width: 472px;
            height: 185px;
            background: yellowgreen;
            float: left;
            margin-top: 10px;
            
}

.footer-link {
                width: 472px;
                height: 185px;
                background: yellowgreen;
                float: right;
                margin-top: 10px;
}