body    
    {
        margin: 0px;
    }
.logo   
    {
        height: 80px;
        width: 30%;
        background: red;
        float: left;

    }

.sign 
      {
          height: 80px;
          width: 60%;
          background: blueviolet;
          float: right;
          
      }

.clear 
{
    clear: both;
   
}

.panner 
        {
          height: 250px;
          background: gold;
          width: 100%
        }

.mani
        {
          height: 100px;
          background: goldenrod;
          width: 20%;
          float: left;
        }
.rio
        {
          height: 100px;
          background: cyan;
          width: 20%;  
          float: left;
        }
.naga
        {
          height: 100px;
          background: fuchsia;
          width: 20%; 
          float: left;
         
        }        
        
.prabha     
        {
           height: 100px;
          background: lawngreen;
          width: 20%;
          float: left;
          
        }
.mothi 
        {
            height: 100px;
            background: orangered;
            width: 20%;
            float: left;
           
        }
.clear
        {
           clear: both;
        }
       
        
.foter  
        {
            background: black;
            height: 600px;
            width: 100%;
           
            
        }
    .back
        {
            height: 100%;
            width: 100%;
            
        }    
        

.one 
        {
          background: greenyellow;
          width: 33.3%; 
          height: 60%;
          float: left;
           margin-top: 40px;
    .img
    {
        height: 100%;
        width: 100%;
        position: relative;
        bottom: 500px;
        border-radius: 50px;
        box-shadow: 20px 20px 20px red;
       
    }    
          
          
        }
    
    
    .img2
    {
        height: 100%;
        width: 80%;
        position: relative;
        bottom: 500px;
        border-radius: 50px;
        box-shadow: 20px 20px 20px red;
       
    }  
    .img3
    {
        height: 100%;
        width: 80%;
        position: relative;
        bottom: 500px;
        border-radius: 50px;
        box-shadow: 20px 20px 20px red;
       
    }  
.two 
        {
           width: 33.3%;
           background: midnightblue;
           height: 60%;
           float: left;
            margin-top: 40px;
        }
        

.three 
        {
          width: 33%;
          background: gray;
          height: 60%;
          float: left;
          margin-top: 40px;
          position: relative;
          z-index: 10;
        }

.New {
  background-color:aqua;
  text-align: center;
  position: relative;
  left: 405px;
 bottom: 18px;
  width: 135px;
  height: 80px;
      

}
