@media ( min-width : 320px) and (max-width: 480px) {
            .pimg1, .pimg2, .pimg3, .img-responsive{
            background-attachment: scroll;
            position: relative;
            opacity: 0.70;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
}
.ptext .border {
    background-color: blueviolet;
    color: #111;
    padding: 20px;
    /* background-image: url(./img/img2.jpg); */
    background-position: center;
    background-size: cover;
}
}
@media ( min-width : 481px) and (max-width: 767px) {
            .pimg1, .pimg2, .pimg3, .img-responsive{
            background-attachment: scroll;
            position: relative;
            opacity: 0.70;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed
}
}
@media ( min-width : 768px) and (max-width: 1024px) {
            .pimg1, .pimg2, .pimg3, .img-responsive{
            background-attachment: scroll;
            position: relative;
            opacity: 0.70;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed
}
}
@media ( min-width : 1025px) and (max-width: 1040px) {
            .pimg1, .pimg2, .pimg3, .img-responsive{
            background-attachment: scroll;
            position: relative;
            opacity: 0.70;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed
}    
}